<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- my css -->
    <link rel="stylesheet" href="style.css">
    <title>Vue Dischi Musicali</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="navbar">
                <h2>la tua libreria</h2>
                <select name="genre" id="" @change="filterAlbumsList()" v-model="filterGenre">
                    <option selected value="all">All</option>
                    <option  :value="genre" v-for="genre in genreList">{{genre}}</option>
                </select>
            </div>
            <div class="box_albums">
                <div class="box_card" v-if="!showLoadSpinner">
                    <div class="card" v-for="album in filteredAlbumsList" >
                        <div class="box_img">
                            <img :src="album.poster" alt="">
                        </div>
                        <h4>{{album.title}}</h4>
                        <h5>{{album.author}}</h5>
                        <h6>{{album.year}}</h6>
                    </div>
                </div>
                
                <div v-else class="load_spinner">
                    <div  class="lds-dual-ring"></div>
                    <h3>Stiamo caricando la tua libreria</h3>
                </div>
            </div>
        </div>
    </div>
    
    <script src="app.js"></script>
</body>
</html>